<?xml version="1.0" encoding="UTF-8" standalone="no"?>
<launchConfiguration type="org.eclipse.jdt.launching.localJavaApplication">
<listAttribute key="org.eclipse.debug.core.MAPPED_RESOURCE_PATHS">
<listEntry value="/JavaProject/src/oops/Exception_Try_Catch_Throw_Throws.java"/>
</listAttribute>
<listAttribute key="org.eclipse.debug.core.MAPPED_RESOURCE_TYPES">
<listEntry value="1"/>
</listAttribute>
<stringAttribute key="org.eclipse.jdt.launching.MAIN_TYPE" value="oops.Exception_Try_Catch_Throw_Throws"/>
<stringAttribute key="org.eclipse.jdt.launching.PROJECT_ATTR" value="JavaProject"/>
</launchConfiguration>
