<!-- app.component.html -->

<div class="container">
  <form [formGroup]="angForm" novalidate>
        <div class="form-group">
          <label>Name:</label>
          <input class="form-control" formControlName="name" type="text"  pattern="[a-zA-Z\s]+">
        </div>
        <div *ngIf="angForm.controls['name'].invalid && (angForm.controls['name'].dirty || angForm.controls['name'].touched)"
             style="color: red"   class="alert alert-danger">
          <div *ngIf="angForm.controls['name'].errors.required">
            Name is required.
          </div>
          <div *ngIf="angForm.controls['name'].errors.minlength">
            Name must be at least 4 characters long.
          </div>
          <div *ngIf="angForm.controls['name'].errors.pattern && angForm.controls['name'].touched"  style="color: red">
            name is not Valid
          </div>
        </div>

        <div class="form-group">
          <label>Father Name:</label>
          <input class="form-control" formControlName="fatherName" type="text"  pattern="[a-zA-Z\s]+">
        </div>
        <div *ngIf="angForm.controls['fatherName'].invalid && (angForm.controls['fatherName'].dirty || angForm.controls['fatherName'].touched)"
             style="color: red"  class="alert alert-danger">
          <div *ngIf="angForm.controls['fatherName'].errors.required">
            Father Name is required.
          </div>
          <div *ngIf="angForm.controls['fatherName'].errors.minlength">
            Father Name must be at least 4 characters long.
          </div>
          <div *ngIf="angForm.controls['fatherName'].errors.pattern && angForm.controls['fatherName'].touched" >
              Father name not Valid
          </div>
        </div>


        <div class="form-group">
          <label>Email:</label>
          <input class="form-control" formControlName="email" type="email"  pattern="^\w+([\.-]?\w+)*@\w+([\.-]?\w+)*(\.\w{2,6})+$">
        </div>
        <div *ngIf="angForm.controls['email'].invalid && (angForm.controls['email'].dirty || angForm.controls['email'].touched)"
             style="color: red" class="alert alert-danger">
          <div *ngIf="angForm.controls['email'].errors.required">Email is required.</div>
          <div *ngIf="(angForm.controls['email'].errors.email || angForm.controls['email'].errors.pattern) && angForm.controls['email'].touched">
            Email is not Valid
          </div>

        </div>

        <div class="form-group">
          <label>Password:</label>
          <input class="form-control" formControlName="password" type="password">
        </div>
        <div *ngIf="angForm.controls['password'].invalid && (angForm.controls['password'].dirty || angForm.controls['password'].touched)"
             style="color: red" class="alert alert-danger">
          <div *ngIf="angForm.controls['password'].errors.required">Password is required.</div>
          <div *ngIf="angForm.controls['password'].errors.minlength && angForm.controls['password'].touched">
            Password must be at least 4 characters long.
          </div>

        </div>


       <div class="form-group">
          <label>Address:</label>
          <input class="form-control" formControlName="address" type="text" pattern="^[#.0-9a-zA-Z\s,-]+$">
        </div>
        <div *ngIf="angForm.controls['address'].invalid && (angForm.controls['address'].dirty || angForm.controls['address'].touched)"
             style="color: red" class="alert alert-danger">
          <div *ngIf="angForm.controls['address'].errors.required">
            Address is required.
          </div>
          <div *ngIf="angForm.controls['address'].errors.pattern && angForm.controls['address'].touched" >
            Father name not Valid
          </div>
        </div>


      <div class="form-group">
        <label>City:</label>
        <select class="form-control"  formControlName="dropdown">
          <option value="Hyderabad">Hyderabad</option>
          <option value="Vizag">Vizag</option>
          <option value="Khammam">Khammam</option>
          <option value="Guntur">Guntur</option>
          <option value="KarimNagar">KarimNagar</option>
          <option value="Vijayawada">Vijayawada</option>
        </select>
      </div>

        <button type="submit" [disabled]="angForm.pristine || angForm.invalid || angForm.errors" class="btn btn-success"
                (click)="onselect()" >
          Save
        </button>
        <button type="reset">reset</button>
  </form>
  <br />

</div>
