<p>
  home-page works!
</p>

<div>
  <table align="center" border="1px solid black" bgcolor="#f5f5dc">
    <tr>
      <th>Name</th>
      <th>father name</th>
      <th>email</th>
      <th>present address</th>
      <th>district</th>
      <th>DOB</th>
      <th>mobile number</th>
    </tr>
    <tr  >
      <td>{{name}}</td>
      <td >{{fatherName}}</td>
      <td>{{email}}</td>
      <td>{{address}}</td>
      <td>{{district}}</td>
      <td>{{dob}}</td>
      <td>{{phno}}</td>
    </tr>
  </table>
</div>
